@import '../../../globals.css';

* {
    user-select: none;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 0 10%;
    font-family: var(--libre);
}

.logo {
    font-size: var(--large-font);
    color: var(--font-color);
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin-left: 3rem;
}

.header a {
    text-decoration: none;
    font-size: var(--med-font);
    color: var(--light)
}

.header a:hover,
.header a:active,
.header a.active {
    color: var(--font-color);
}

.badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}
